* { box-sizing: border-box; }

html, body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	min-height: 100%;
	margin-bottom: 40px;
}

nav {
	text-align: center;
	font-family: "Courier New", monospace;
	width: 100%;
}

.home {
	float: left;
	margin-left: 10%;
}

.footer {
	height: 40px;
	width: 100%;
	font-size: 12px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 1%;
}

.footer a{
	color: white;
}

.overlay-content a {
	margin: 1% 5% 0;
	text-decoration: none;
	font-size: 2em;
	color: black;
	display: inline-block;
}

.overlay-content a:hover {
	color: white;
}

#starter {
	position: relative;
	width: 100%;
}

#starter img {
	width: 100%;
	filter: blur(2px);
}

#starter h1 {
	position: absolute;
	top: 5%;
	left: 5%;
	font-family: "Courier New", monospace;
	color: #e7eae5;
	font-size: 80px;
}


#starter .btn {
	position: absolute;
	top: 75%;
	left: 75%;
	background-color: black;
	color: white;
	font-size: 32px;
	padding: 2% 4%;
	border: none;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

#starter .btn:hover {
	background-color: #C0C0C0;
}

.floatLeft {
	float: left;
	margin: 5% 10%;
	width: 30%;
}

.floatRight {
	float: right;
	margin: 5% 10%;
	width: 30%;
}

.clearFloat {
	clear: both;
}

#resume {
	margin: 5% 10%;
	width: 85%;
	background-color: #f2f2f2;
	color: black;
}

#resume th{
	padding: 20px 40px;
}

#resume td {
	padding: 10px;
}
#resume p {
	padding: 20px;
}

.contact {
	width: 60%;
	margin: 5% 20%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.contact h1 {
	text-align: center;
	font-family: Courier New, monospace;
	font-size: 50px;
}

input[type=text],input[type=email], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: black;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #C0C0C0;
}

.mobile { display: none; }

@media only screen and (max-width: 1024px) {
	.home img { max-width: 70% }
	.overlay-content a { font-size: 1em; }
	#starter h1 { font-size: 40px; top: 10%; }
	#starter .btn { font-size: 16px; }
	.contact { width: 80%; margin: 2.5% 10%;}
	#resume { font-size: 80%; }
}

@media only screen and (max-width: 768px) {
	nav { margin-top: 10px; margin-bottom: 10px;}
	.home { margin-left: 25%;}
	.home img { max-width: 50%; }
	.desktop {display: none; }
	.mobile { display: inline-block; }
	.overlay {
		height: 100%; 
		width: 0; 
		position: fixed; 
		z-index: 1; 
		top: 0; 
		right: 0; 
		background-color: #f2f2f2; 
		overflow-x: hidden;
		transition: 0.5s; 
	}
	.overlay-content { 
		position: relative; 
		top: 25%; 
		width: 100%; 
		text-align: center;
	}
	.overlay-content a { 
		font-size: 36px; 
		display: block; 
		transition: 0.3s; 
		margin-bottom: 10%;
	}
	.overlay .closebtn { 
		position: absolute; 
		top: 20px; 
		right: 45px; 
		font-size: 60px; 
		color: black;
	}
	.mobile span { margin-left: 50%; }
	#starter h1 { font-size: 30px; }
	#starter .btn { font-size: 12px; }
	#resume { font-size: 60%; }
	.floatLeft { width: 80%; clear: left; }
	.floatRight { width: 80%; clear: right; }
}
